<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lgapp" >

    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DadosAcesso"
            android:label="@string/title_activity_dados_acesso" >
        </activity>
        <activity
            android:name=".DadosPessoais"
            android:label="@string/title_activity_dados_pessoais" >
        </activity>
        <activity
            android:name=".EsqueceuSenha"
            android:label="@string/title_activity_esqueceu_senha" >
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" >
        </activity>
    </application>

</manifest>
